@CHARSET "UTF-8";

#book_main{

    width:1000px;
    margin:0 auto;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

#main_book_left {
    float:left;
    width: 100px;

    padding:50px;

}

#main_book_right {
    float: right;
    width: 600px;

    padding:0 50px;
}